<br/><br/><br/>


<section id="post" class="wrapper" data-bg="banner2.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>How did the organization get started</h2>
        <p>01.01.2017</p>
      </header>
      <div class="content">
        <p>Everyone knows that haiti is
a poor country,most of people have many
problems(economic,house,clothes,food).earthquake passed in haiti,many
broken houses,there are many events that passed before.ex:hurricane
that destroyed many gardens.my staff and i decided to have this
organization in plan of helping people who are in needs physical and
mental.since the earthquake we knew to help people  but we have always
had projects for the association.in spite of all difficulties we met
in our way,we didn't give up cause our mission is to help people who
are in needs,kids who cannot eat.we happened to create the association
on December 4th,2015.we can tell the organization is on the way to
success grace of God we believe with God all will be okay..</p>
      </div>
    </article>



    <article class="box">
      <header>
        <h2>What do we hope to do in the Lord and How</h2>
        <p>11.11.2016</p>
      </header>
      <div class="content">
        <p>i hope to build a church to praise God,give him
glory he deserves.and for people can come to know about Jesus,to
accept him as their Savior.and the kids also.i know God will provide
my organization.i must be patient,God will never give me up cause i do
great things.he sees that i have compassion for people who are in
needs..and try to help them will all of my heart.God will grow my
organization to keep doing more for them..Hallelujah,Amen..you Are
Almighty God..</p>
      </div>
    </article>




    <article class="box">
      <header>
        <h2>Our Team- Hallelujah</h2>
        <p>Updated 2017-01-28</p>
      </header>



      <a name="team-aleluya"></a>
      <div class="content" style="background:#353535;padding:8px;border-radius:3px;">
      <ul>
        <li><a href="#woodly-aleluya">Woodly Baptiste</a>: Co-Founder +50931975109</li>
        <li><a href="#rilphene-aleluya">Rilphene pierretil</a>: Assistant Co-Founder +50946285047</li>
        <li><a href="#angeline-aleluya">Angeline Osias</a>: Treasurer +50942346186</li>
        <li><a href="#chelove-aleluya">Chelove Pierretil</a>: Administrator +50934124647</li>
        <li><a href="#youri-aleluya">Youri Augustin</a>: Assistant Administrator </li>
        <li><a href="#wandy-aleluya">Wandy Baptiste</a>: Counsellor Leader </li>
        <li><a href="#junior-aleluya">Junior Buthon</a>: Counsellor.</li>
      </ul>
              
            
<a name="woodly-aleluya"></a>
<h3>Woodly Baptiste - Cofounder: <a style="font-size:12px" href="mailto:woodly@ayap.club">woodly@ayap.club</a> +50931975109 </h3>
<p style="margin-top:-8px"><b style="font-size:12px">Matthew 5:16
In the same way your light must shine before people,so that they will see the good things you do and praise your father in heaven</b><br/>

Mr Woodly Baptiste was born on may 2,1997 in nazon he grew up in a christian family,his grandfather was a pastor,he used to sing in the church,he loves God with  all of his heart,he loves to talk to people about God.he had a passion of helping people since he was at school,he likes to share with kids who are unable in school where he was,he likes to play soccer with kids.God calls him as a helper.all his plan is to take people to repentence.his parents moved in Titanyen it's where he was going to create the organization.</p>

<hr/>

<a name="angeline-aleluya"></a>
<h3>Mrs Angeline Osias - Treasurer: <a style="font-size:12px" href="mailto:angeline@ayap.club">angeline@ayap.club</a> +50942346186 </h3>
<p style="margin-top:-8px"><b style="font-size:12px">Ephesians1:3 let us give thanks to God and Father our Lord Jesus Christ! For in our union with christ he has blessed us by giving us every spiritual blessing in the heavenly world.</b><br/>
Mrs Angeline Osias was born on July 23,1977 in Marchand dessalines,she grew up in christian family,her father was a pastor,she was in the gospel group,she moved in port-au-prince where she always kept in the same way,she is a brave woman who believes in God and care for people.she never discourages in all she does,her parents had six kids,two of them died,she like reading bible and talk to people about how God is exciting to serve.she wasn't done school but she is very intelligent.</p>
<p><b>Woodly Baptiste</b>

I'm so glad to write under Mrs Angeline's.Angeline believes in work,she has a good potential,her ways amaze me,she is very serious,i'm was so happy to call her into my organization.she is very sensible for everyone..</p>

<hr/>

<h3>Wandy Baptiste - Counsellor Leader: <a style="font-size:12px" href="mailto:wandy@ayap.club">wandy@ayap.club</a>+50946285047</h3>
<p style="margin-top:-8px"><b style="font-size:12px">Ephesians1:3 let us give thanks to God and Father our Lord Jesus Christ! For in our union with christ he has blessed us by giving us every spiritual blessing in the heavenly world.</b><br/>
 
I was born on June 16,1974.i didn't grew up in a christian family but i had a passion for kids and for God.after my father died,i decided to accept christ as my savior.i became a new man,cause Jesus washes my sins away.i see the situation of some people,i decided to help any way i can.Mr woodly  Called me and he said,do you agree to be part of AYAP.i said yes cause i saw In Woodly a lot of Good things. I thank to God for that.i think AYAP will move forward cause The staff Does a lot for people with  a pure heart..</p>

<a name="youri-aleluya"></a>
<hr/>

<h3>Youri Augustin - Assistant Administrator: <a style="font-size:12px" href="mailto:youri@ayap.club">youri@ayap.club</a></h3>
<p style="margin-top:-8px"><b style="font-size:12px">1John 3:13: Do not be surprised, brothers, that the world hates you. -esv</b><br/>


I'm Youri Augustin,i was born on September 1991,in thomassique i grew up in a christian family,i began to sing in choral when i was 13 years old.my dream is to help people who haven't opportunity to live,for instance:kids in the street,those who can't to go to school,eat.even elderly who live in bad situation .i thank to God cause it starts to realize and thank to him once again for wisdom and love he puts in my heart.i feel happy cause i'm part of AYAP and God will bless us to keep the work  together.</p>


<a name="junior-aleluya"></a>
<hr/>

<h3>Junior Buthon - Assistant Administrator: <a style="font-size:12px" href="mailto:youri@ayap.club">youri@ayap.club</a></h3>
<p style="margin-top:-8px"><!--<b style="font-size:12px">1John 3:13 .</b><br/>-->



I was born on October 5,1994.i grew up in a christian family,my mother died when i was 17 years old. I was happy when Mr Woodly called into the organization and Mr woodly is a brave man,he cares in all he does,he love kids.i think together we will be able to fight against poverty.</p>

<a name="chelove-aleluya"></a>
<hr/>
<h3>Chelove Pierretil- Assistant Co-Founder: <a style="font-size:12px" href="mailto:chelove@ayap.club">chelove@ayap.club</a> +50934124647</h3>
<p style="margin-top:-8px"><b style="font-size:12px">2 Corinthians 9:6 Remember that person who plants few seeds,will have a small crop.the one who plants many seeds will have a large crop</b><br/>

i grew up in a christian family,my father was a pastor at Baptiste Maranatha church in Gonaives,i liked music when i was 12 years old.i made my first song tittled:love for kids,cause i had a passion for kids,i stopped cause of my high school study and i'm glad to be part of AYAP to keep the good work that is to help unfortunate people.</p>


<a name="rilphene-aleluya"></a>
<hr/>
<h3>Rilphene Pierretil - Administrator: <a style="font-size:12px" href="mailto:rilphene@ayap.club">rilphene@ayap.club</a> +50946285047</h3>

<p style="margin-top:-8px"><b style="font-size:12px">Proverbs 19:17 when you give to the poor,it's like lending to the Lord,and the Lord will pay you back</b><br/>
I'm Rilphene pierretil,born on  march 13,1983 in Artibonite,Gonaives city.i was born in a christian family,my parents also.but i didn't understand well sens of God words.as of January 12,2010.i learned a great lesson through the Bible.i happened to understand that's God is the king of kings.a catastrophe that killed than more 8 thousands people.if my family and i are alive,it's thanks to God,it's there i would go to help people who are unable cause after this catastrophe,most of them slept in the street.there even some who couldn't eat cause of opportunity.my mind was upset about it.i shared with people who were next to me cause i didn't have much to go around to help but today i'm part of AYAP that is a staff who have same aims.we think the work will move forward more and it will please God.</p>

{{outlet}}

  </div>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
      <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
    </ul>
  </footer>
</article>

</div>
</section>