<br/><br/><br/>


<section id="post" class="wrapper" data-bg="banner2.jpg">
  <div class="inner">
    <article class="box">
      <header>
        <h2>How Did CPH Begin?</h2>
        <p>updated: 12.02.2017</p>
      </header>
      <div class="content">
        <p>We were previously known as AYAP, and happened to create the association on December 4th, 2015 as everyone knows that Haiti is a poor country. Most of people have many problems (economic, housing, clothing, food and water). When the Earthquake came in Haiti, there were many broken homes. There are many events that passed before this too, such as hurricanes that destroyed many of the crops. My staff and I decided to start this organization in hopes of helping people who are in physical, emotional and spiritual needs. Since the earthquake we have known to help people though we have always had projects for such an association. In spite of all difficulties we have met in our way, we do not give up because our mission is to help people who are in these deep needs such as kids who cannot eat. We see the organization is on the way to success by the grace of God, and we believe with God all will be okay. <!-- praise Jesus Christ --></p>
      </div>
    </article>


    <article class="box">
      <header>
        <h2>What do We Hope to do in the Lord and How?</h2>
        <p>updated: 16.02.2017</p>
      </header>
      <div class="content">

        <p>We hope to build a church to praise God and give him glory which He is worthy of all the Glory, for people particularly children can come to know about Jesus Christ, and to accept Him as their Savior and the Lord. Woodly: I know God will provide the organization though I must be patient. God will never give me up cause I do great things. He sees that i have compassion for people who are in needs, and try to help them with all of my heart. God will grow my organization to keep doing more for them..Hallelujah,Amen..you are Almighty God..</p>
        <p>Our Plans include:</p>
        <ul>
          <li>Our plan are to have our own local to make kids that we help live better in the way we want to teach them and for the elderly</li>
          <li>every fourthnight we want to pass to put products in their homes like this it will make them live better.</li>
          <li>CPH would like to have school to educate the kids where education is one of the most important thing in a country.</li>
          <li>Church to let the kids know how important God is in everyone's life</li>
          <li>A clinic to take care of them when they are sick.</li>
          <li>We have thirty kids to take care and eighteen elderly from sixteen to X....</li>
        </ul>
      </div>
    </article>




    <article class="box">
      <header>
        <h2>Our Team- Hallelujah</h2>
        <p>Updated 2017-01-28</p>
      </header>



      <a name="team-aleluya"></a>
      <div class="content" style="background:#353535;padding:8px;border-radius:3px;">
      <ul>
        <li><a href="#woodly-aleluya">Woodly Baptiste</a>: Co-Founder +50931975109</li>
        <li><a href="#angeline-aleluya">Angeline Osias</a>: Treasurer +50944911085</li>
        <li><a href="#chelove-aleluya">Chelove Pierretil</a>: Administrator +50934124647</li>
        <li><a href="#wandy-aleluya">Wandy Baptiste</a>: Counsellor Leader +50936769722</li>
      </ul>
              
            
<a name="woodly-aleluya"></a>
<h3>Woodly Baptiste - Cofounder: <a  href="mailto:woodly@ayap.club">woodly@ayap.club</a> +50931975109 </h3>
<p style="margin-top:-8px"><b >Matthew 5:16
In the same way your light must shine before people,so that they will see the good things you do and praise your father in heaven</b><br/>

Mr Woodly Baptiste was born on may 2,1997 in Nazon. He grew up in a christian family and his grandfather was a pastor. He used to sing in the church, he says he loves God with  all of his heart and he loves to talk to people about God. He had a passion of helping people since he was at school and he likes to share with kids who did not have enough resources in the school where he was. He likes to play soccer with children. God calls him as a helper. His plan is to take people to repentence. His parents moved in Titanyen, which is where he is creating the organization.</p>

<hr/>

<a name="angeline-aleluya"></a>
<img class="teammember-aleluya" src="/imgAleluya/teamAleluya/angeline-aleluya.jpg"/>
<h3>Mrs Angeline Osias - Treasurer: <a  href="mailto:angeline@ayap.club">angeline@ayap.club</a> +50944911085 </h3>
<p style="margin-top:-8px"><b >Ephesians1:3 let us give thanks to God and Father our Lord Jesus Christ! For in our union with christ he has blessed us by giving us every spiritual blessing in the heavenly world.</b><br/>
Mrs. Angeline Osias was born July 23,1977 in Marchand Dessalines. She grew up in a Christian family and her father was a pastor and she has participated in the gospel group. She moved to port-au-prince where she has kept up this practice. She is a brave woman who believes in God and cares for people. She never get discouraged. Her parents had six children, though two of them died. She like reading the Bible and talking to people about how God is exciting to serve. She did not finish high school but she is very intelligent.</p>
<p><b>Woodly Baptiste</b>
I'm so glad to write under Mrs Angeline. Angeline believes in work, and she has great potential in the Lord. Her ways amaze me, she is very serious, i'm happy to call her into my organization and she is a very sensible individual to everyone.</p>

<hr/>
<div style="clear:both"></div>
<a name="wandy-aleluya"></a>
<img class="teammember-aleluya" src="/imgAleluya/teamAleluya/wandy-aleluya.jpg"/>
<h3>Wandy Baptiste - Counsellor Leader: <a  href="mailto:wandy@ayap.club">wandy@ayap.club</a> +50936769722</h3>
<p style="margin-top:-8px"><b >Ephesians 1:3 let us give thanks to God and Father our Lord Jesus Christ! For in our union with christ he has blessed us by giving us every spiritual blessing in the heavenly world.</b><br/>
 
I was born on June 16,1974. I did not grow up in a Christian family but i had a passion for children and for God. After my father died, i decided to accept Christ as my Savior. I became a new man, because Jesus washes my sins away. I see the situation of some people and I decided to help any way i could. Mr Woodly called me and he said: "Do you agree to be part of CPH?" I said yes cause i saw In Woodly a lot of good things and I thank God for that. I think CPH will move forward because the staff does a lot for people with a pure heart.</p>
<div style="clear:both"></div>
<a name="chelove-aleluya"></a>
<hr/>
<h3>Chelove Pierretil- Adminisrator: <a  href="mailto:chelove@ayap.club">chelove@ayap.club</a> +50934124647</h3>
<p style="margin-top:-8px"><b >2 Corinthians 9:6 Remember that person who plants few seeds,will have a small crop.the one who plants many seeds will have a large crop.</b><br/>

I grew up in a Christian family, my father was a pastor at Baptiste Maranatha church in Gonaives. I liked music when i was 12 years old. and I made my first song tittled: "love for kids" because i had a passion for children. I stopped because of my high school studies and i'm glad to be part of CPH to keep on doing the good work that is to help unfortunate people.</p>

{{outlet}}

  </div>
  <footer>
    <ul class="actions">
      <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
      <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
    </ul>
  </footer>
</article>

<article class="box">
      <header>
        <h2>How is the website developed?</h2>
        <p>01.01.2017</p>
      </header>
      <div class="content">
        <p>
          The website front end is open source and available at <a href="https://github.com/perffection/ayap.club">https://github.com/perffection/ayap.club</a> if you have changes feel free to fork the project.</p>
        <p>
          The front end is using <a href="http://emberjs.com">EmberJS</a> and based off a template from <a href="http://templated.co">Templated</a> the backend api is built using <a href="https://phoenixframework.org">Phoenix/Elixir</a>. It is deployed automatically to a plesk server provided in Jesus name. </p>
      </div>
    </article>

</div>
</section>
