<br/><br/><br/>


<section id="post" class="wrapper" data-bg="banner2.jpg">
  <div class="inner">
<article class="box">
      <header>
        <h2>What are our current needs and plans?</h2>
        <p>12.21.2016</p>
      </header>
      <div class="content">

        <h4>Needs</h4>
        <ul>
          <li>We need food first to feed kids and the elderly</li>
          <li>clothes</li>
          <li>Hygiene Products: Soap, Toothpaste, Toothbrushes.</li>
          <li>A car to deliver the things to them, though we have an old motorcycle when we are going to deliver things.it can't take much and two of us can't go on it.</li>
        </ul>

        <h4>Plans</h4>
        <ul>
          <li>Our plan are to have our own local to make kids that we help live better in the way we want to teach them and for the elderly</li>
          <li>every fourthnight we want to pass to put products in their homes like this it will make them live better.</li>
          <li>AYAP would like to have school to educate the kids where education is one of the most important thing in a country.</li>
          <li>Church to let the kids know how important God is in everyone's life</li>
          <li>A clinic to take care of them when they are sick.</li>
          <li>We have thirty kids to take care and eighteen elderly from sixteen to X....</li>
        </ul>

        <p>We are currently raising funds through <a href="https://www.gofundme.com/assistance-for-titanyenhaiti-kids">our Gofundme fundraiser</a> and plan to work with a certified 503c ministry such as <a href="https://thecrosslovesyou.org">The Cross Loves you</a> which is working on this God willing and if we live in Jesus name. </p>

      </div>
      <footer>
        <a href="/ourneeds-aleluya" class="button alt">Learn More</a>
      </footer>
    </article>
  </div>
</section>

{{outlet}}
