<br/><br/><br/>


<section id="post" class="wrapper" data-bg="banner2.jpg">
  <div class="inner">
<article class="box">
      <header>
        <h2>What are our needs?</h2>
        <p>12.21.2016</p>
      </header>
      <div class="content">
        <p>We need food first to feed kids and elderly.we need
clothes,soap,toothpaste,toothbrush to give them.we need a car to
deliver the things to them,we have an old motorcycle when we are going
to deliver things.it can't take much and two of us can't go it on,our
plan are to have our own local to make kids that we help.live better
in the way we want to teach them and for the elderly every fourthnight
to pass to put products in their homes like this it will make them
live better.AYAP would like to have school to educate the kids where
education is one of the most important thing in a country.church to
let the kids know how important God is in everyone's life and clinic
to take care of them when they are sick.we have thirty kids to take
care and eighteen elderly from sixteen to X....</p>

<p>We are currently raising funds through <a href="https://www.gofundme.com/assistance-for-titanyenhaiti-kids">our Gofundme fundraiser</a> and plan to work with a certified 503c ministry such as <a href="https://thecrosslovesyou.org">The Cross Loves you</a> which is working on this God willing and if we live in Jesus name. </p>
      </div>
      <footer>
        <a href="/ourneeds-aleluya" class="button alt">Learn More</a>
      </footer>
    </article>
  </div>
</section>

{{outlet}}
